*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}
a:hover, a:focus {
	text-decoration: none;
}

ul li {
	list-style-type: none;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

img {
	max-width: 100%;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoRegular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Roboto";
	src: url("../fonts/RobotoLight.ttf");
	font-weight: 300;
	font-style: normal;
}


body {
	font-family: Roboto, Arial, sans-serif;
	font-size: 18px;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

header {
	background: url("../img/bg-header.jpg");
	padding: 42px 0;
	background-size: cover;
}

/*header .container {*/
	/*position: absolute;*/
/*}*/

nav {
	padding: 0 25px 0;
	background-color: #f2f2f2;
	border-radius: 15px;
	line-height: 70px;
}

.logo {
	float: left;
}

nav ul {
	margin: 0 0 0 200px;
	text-align: right;
}

nav li {
	display: inline-block;
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

nav li a {
	display: block;
	padding: 0 18px;
	position: relative;
	line-height: 70px;
}
/*nav li a:before,nav li a:after{*/
	/*content: "";*/
	/*position: absolute;*/
	/*top:0;*/
	/*bottom: 0;*/
	/*width: 2px;*/
	/*background-color: #000;*/
	/**/
/*}*/

nav a {
	transition: border-color .1s ease-in;
	border-left: 2px solid transparent;
	border-right: 2px solid transparent;
}
nav a:hover {
	border-color: black;
}

nav .last:hover {
	/*border-left: 2px solid black;*/
	border-right-color: transparent;
}

h1 {
	font-size: 134px;
	line-height: 72px;
	color: white;
	text-transform: uppercase;
	text-align: center;
	margin-top: 250px;
}

header h2 {
	font-size: 72px;
	color: white;
	text-align: center;
	margin-bottom: 240px;
}

.header-text-wrap {
	position: relative;
}

.header-text {
	position: absolute;
	top: 15%;
}

.header-text h3 {
	font-size: 48px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	color: #272727;
	margin-bottom: 30px;
	text-align: center;
}

.header-text p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 300;
	color: #272727;
	text-align: center;
	padding: 0 25px;
}

main {
	background-color: #f2f2f2;
}

main .screen-2 {
	padding: 4% 6% 2% 4%;
}

.screen-2 h2 {
	font-size: 48px;
	line-height: 24px;
	color: #272727;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
}

.animals {
	margin-top: 7%;
}

.animal-img {
	text-align: right;
	vertical-align: middle;
	padding-right: 10%;
	min-height: 154px;
	position: relative;
}

.animal-img img {
	position: absolute;
	top: 0;
	left: 25%;
	bottom: 0;
	right: 0;
	margin: auto;
}

.animal-text {
	text-align: center;
	margin-bottom: 15%;
}

h3 {
	margin: 0;
}

.animal-text h3 {
	font-size: 30px;
	line-height: 28px;
	color: #362d2a;
	text-transform: uppercase;
	font-weight: normal;
}

.animal-text p {
	font-size: 14px;
	line-height: 24px;
	color: #202020;
}

main .screen-3 {
	padding: 0 0 3% 0;
}

.gallery-preview {
	text-align: center;
	position: relative;
}

.gallery-preview img {
	border-radius: 15px;
}

.gallery-preview .gallery-text {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
}

.gallery-preview button {
	font-size: 18px;
	line-height: 24px;
	color: white;
	text-transform: uppercase;
	border: 2px solid white;
	padding: 1% 2%;
	background-color: rgba(255,255,255, 0.3);
}

.gallery-preview button:hover {
	background-color: rgba(0,0,0, 0.3);
}

.screen-3 h2 {
	font-size: 48px;
	line-height: 24px;
	color: white;
	text-transform: uppercase;
	font-weight: normal;
	margin: 13% 0 7% 0;
}

main .screen-4 {
	padding: 2% 0 4% 0;
}

.screen-4 h2 {
	font-size: 48px;
	line-height: 24px;
	color: #272727;
	text-transform: uppercase;
	font-weight: normal;
	text-align: center;
	margin-bottom: 4%;
}

.period {
	text-align: center;
}

.screen-4 ul {
	margin-bottom: 3%;
}

.screen-4 li {
	display: inline-block;
	font-size: 24px;
	line-height: 24px;
	font-weight: 100;
	position: relative;
}

.period img {
	position: absolute;
	bottom: 20px;
	right: 70px;
}

.marker:before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: black;
	vertical-align: middle;
	margin-right: 40px;
	margin-left: 40px;
}

.marker:after {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: black;
	vertical-align: middle;
	margin-right: 40px;
	margin-left: 40px;
}

.screen-4 li:hover {
	text-decoration: underline;
	cursor: pointer;
}

.pages {
	text-align: right;
	margin-bottom: 2%;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
}

.pages span:hover {
	color: #2aabd2;
	cursor: pointer;
}

.future-events {
	text-align: center;
}

.tl-radius {
	border-top-left-radius: 20px;
}

.tr-radius {
	border-top-right-radius: 20px;
}

.bl-radius {
	border-bottom-left-radius: 20px;
}

.br-radius {
	border-bottom-right-radius: 20px;
}

.event-img {
	position: relative;
	min-height: 375px;
	margin-bottom: 20px;
	/*width: 100%;*/
}

.event-img img {
	min-height: 315px;
}

.event-date {
	position: absolute;
	background-color: #00c0ff;
	color: white;
	font-weight: 700;
	text-align: center;
	padding: 18px 10px 15px 10px;
	border-top-right-radius: 20px;
	bottom: 27%;
}

.date-day {
	font-size: 41px;
	line-height: 34px;
}

.date-month {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
}

.event-description {
	padding: 25px 20px;
	background-color: #22262e;font-size: 16px;
	line-height: 19px;
	position: absolute;
	bottom: 1%;
	width: 100%;
}

.event-description h4 {
	color: white;
	text-transform: uppercase;
	margin-top: 0;
}

.event-description p {
	color: #b1b1b1;
	font-weight: 100;
	margin-bottom: 0;
}

.col-xs-12 {
	/*width: 0;*/
}

main .screen-5 {
	padding: 3% 0 0 0;
	text-align: center;
}

.screen-5 h2 {
	font-size: 48px;
	line-height: 24px;
	text-transform: uppercase;
	color: #272727;
	font-weight: normal;
	margin-bottom: 6%;
}

.prices table{
	background-color: #22262e;
	padding: 25px 0 25px 25px;
	color: #99999a;
	margin-bottom: 5%;
}

tr {
	border-bottom: 1px dotted white;
}

.first {
	font-size: 18px;
	line-height: 36px;
	color: #b7b7b7;
	font-weight: 100;
	text-align: left;
	width: 305px;
	padding-left: 25px;
}

.first:before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: #01bbf8;
	vertical-align: middle;
	margin-right: 12px;
}

.second {
	font-size: 14px;
	line-height: 30px;
	color: white;
	font-weight: 100;
	text-align: right;
	padding-right: 25px;
	width: 96px;
}

.fix-1 {
	padding-top: 15px;

}

.fix-2 {
	padding-bottom: 15px;
}

.event-time {
	text-align: left;
}

.event-time img {
	margin-right: 2%;
}

.event-time h4{
	font-size: 30px;
	line-height: 40px;
	color: #22262e;
	display: inline-block;
	margin-top: 0;
	margin-bottom: 2%;
}

.event-info {
	margin-left: 18%;
	text-align: left;
	margin-bottom: 35px;
}

.event-info ul li {
font-size: 18px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 100;
	list-style-type: disc;
}

.event-info span {
	font-weight: bold;
}

.event-info p {
	margin-left: -3%;
	font-size: 18px;
	line-height: 30px;
	font-weight: 100;
}




/*.prices ul li {*/

	/*list-style-type: disc;*/
	/**/
/*}*/


main .screen-6 {
	padding: 3% 0;
	text-align: center;
}

.screen-6 h2 {
	font-size: 48px;
	line-height: 24px;
	text-transform: uppercase;
	color: #272727;
	font-weight: normal;
	margin-bottom: 4%;
}

.screen-6 p {
	font-size: 18px;
	line-height: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}

.guide-info {
	background-color: #22262e;
}

.guide-info .name {
	font-size: 18px;
	/*line-height: 36px;*/
	color: white;
	width: 100%;
}

.guide-info {
	text-align: left;
	padding: 15px 10px 20px 15px;
}

.guide-img {
	display: inline-block;
	margin-bottom: 3%;
}

.guide-info .profession {
	font-size: 12px;
	/*line-height: 36px;*/
	text-transform: uppercase;
	color: #00ddfe;
}

.guide-contacts {
	display: inline-block;
	text-align: right;
	vertical-align: middle;
	font-size: 0;
  float: right;

}

.guide-contacts a {
	display: inline-block;
	width: 24px;
	height: 24px;
	background: url("../img/social-sprite.png");
	margin-left: 2px;
}

.guide-contacts .fb {
	background-position: 0;
}

.guide-contacts .fb:hover {

	background-position: 161px;
}

.guide-contacts .tw {
	background-position: 129px;
}

.guide-contacts .tw:hover {
	background-position: 97px;
}

.guide-contacts .google {
	background-position: 65px;
}

.guide-contacts .google:hover {
	background-position: 33px;
}

.col-lg-3 {
	padding-left: 3px;
	padding-right: 3px;

}

main .screen-7 {
	padding: 3% 0 4% 0;
	text-align: center;
}

.screen-7 h2 {
	font-size: 48px;
	line-height: 24px;
	text-transform: uppercase;
	color: #272727;
	font-weight: normal;
	margin-bottom: 4%;
}

.screen-7 p {
	font-size: 18px;
	line-height: 36px;
	font-weight: 100;
	margin-bottom: 30px;
}

.contact-info {
	/*float: right;*/
	/*width: 330px;*/
	margin-left: 9%;
}

.contact-form {
	margin-bottom: 5%;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
	display: block;
	border: none;
	width: 100%;

}

.contact-form input,
.contact-form textarea{
	padding: 25px 50px 20px 50px;
	font-size: 24px;
	font-weight: 100;
	color: #5f5c6c;
}

input[type=email] {
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

.contact-form button {
	padding: 20px 5px;
	font-size: 30px;
	text-transform: uppercase;
	color: white;
	background-color: #00c0ff;
}

.contact-form button:hover {
	background-color: #009dd0;
}


.contact-info h4 {
	font-size: 30px;
	text-transform: uppercase;
	color: #484747;
	text-align: left;
	margin-top: 0;
}

.contact-info p,
.contact-info span {
	font-size: 24px;
	color: #747474;
	margin-bottom: 0;
	margin-left: 45px;
	text-align: left;
	font-weight: 100;
}

.marker-2:before {
	content: "";
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 3px;
	background-color: black;
	vertical-align: middle;
	margin-right: 15px;
}

.details {
	margin-bottom: 14%;
}

.social {
	font-size: 0;
}

.social img {
	margin-left: 3%;
	margin-bottom: 3%;
}

.social img:hover {
	cursor: pointer;
	opacity: .5;
}

footer .screen-8 {
	text-align: center;
}

.screen-8 .col-lg-3 {
	padding-left: 0;
	padding-right: 0;
}
.screen-8 .photo {
	height: 338px;
	width: 345px;
}

/*.screen-8 img:hover {*/
	/*min-height: 338px;*/
/*}*/

.photo-block {
	position: relative;
	display: inline-block;
	/*margin-bottom: 3%;*/
}

.photo-block img {
	vertical-align: middle;
}

.hover-block {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	/*max-width: 100%;*/
	/*max-height: 100%;*/
	display: none;
	font-size: 0;
	line-height: 250px;
}

.hover-block img {
	vertical-align: middle;
}

/*.photo-block .hover {*/
	/*position: absolute;*/
	/*top: 15%;*/
	/*left: 30%;*/
	/*bottom: 0;*/
	/*right: 0;*/
	/*display: none;*/
/*}*/

.photo-block:hover .hover-block {
	display: block;
	background-color: rgba(0,0,0,0.5);
	cursor: pointer;
}

footer .screen-9 {
	text-align: center;
	background-color: #22262e;
	color: white;
	font-size: 24px;
	line-height: 30px;
	font-weight: 300;
	padding: 45px 0;
}

@media (max-width: 1200px) {
	nav li a {
		padding: 0 10px;
	}

	nav ul {
		margin-left: 50px;
	}

	.header-text {
		position: absolute;
		top: 10%;
	}
}

@media (max-width: 991px) {
	nav {
		padding: 0 5px;
		line-height: 50px;
	}

	nav li a {
		line-height: 35px;
	}

	.logo {
		float: none;
		text-align: center;
		padding: 0 5px;
	}

	nav ul {
		margin-left: 0;
		text-align: center;
	}

	nav .last:hover {
		border-right: 2px solid black;
	}

	.header-text-wrap img {
		min-height: 230px;
	}

	.header-text h3 {
		font-size: 40px;
		line-height: 15px;
	}
}

@media (max-width: 1199px) {

	.animal-text h3 {
		font-size: 28px;
	}

	.event-description {
		padding: 18px 14px
	}

	.guide-info .name {
		font-size: 14px;
		font-weight: bold;
	}

	.contact-info h4 {
		font-size: 25px;
	}

	.contact-info p, .contact-info span {
		font-size: 21px;
	}

	.details {
		margin-bottom: 7%;
	}

	.social {
		width: 85%;
	}

	.contact-info span {
		margin-left: 10px;
	}



}

@media (max-width: 1020px) {
	h1 {
		font-size: 110px;
	}

	header h2 {
		font-size: 55px;
	}
}

@media (max-width: 991px) {
	.bl-radius {
		border-bottom-left-radius: 0;
	}

	.br-radius {
		border-bottom-right-radius: 0;
	}

	.tl-radius {
		border-top-left-radius: 0;
	}

	.tr-radius {
		border-top-right-radius: 0;
	}

	.guide-info .name {
		font-size: 18px;
		font-weight: normal;
	}

	.screen-6 p {
		font-size: 16px;
	}

	.screen-6 h2 {
		font-size: 40px;
		line-height: 20px;
	}

	.contact-info h4,
	.contact-info p,
	.contact-info span {
		text-align: center;
		margin-left: 0;
	}

	.contact-info {
		margin-left: 0;
	}

	.social {
		width: 100%;
	}

	.details {
		margin-bottom: 4%;
	}

	.event-time h4 {
		font-size: 25px;
	}


}

@media (max-width: 780px) {
	h1 {
		font-size: 90px;
		margin-top: 200px;
	}

	header h2 {
		font-size: 45px;
		margin-bottom: 190px;
	}

	.screen-7 h2{
		font-size: 40px;
	}

	.contact-form input, .contact-form textarea {
		font-size: 21px;
	}

	.contact-form button {
		font-size: 25px;
	}
}

@media (max-width: 767px) {
	.screen-2 h2 {
		font-size: 40px;
		line-height: 45px;
	}

	.animal-img img {
		left: 20%;
	}

	.animal-text {
		margin-bottom: 5%;
	}

	.animal-text h3 {
		font-size: 24px;
		line-height: 20px;
	}

	.event-img {
		display: inline-block;
	}

	.event-description {
		bottom: 6%;
	}

	.pages {
		text-align: center;
	}

	.photo-block {
		margin-bottom: 3%;
	}

	.screen-5 h2 {
		font-size: 40px;
	}
}

@media (max-width: 750px) {
	nav ul {
		text-align: center;
	}

	nav li {
		font-size: 16px;
	}

	.screen-3 h2 {
		margin: 9% 0 7% 0;
	}

	.screen-4 h2 {
		font-size: 40px;
		line-height: 45px;
	}

	.marker:before {
		margin-right: 20px;
		margin-left: 20px;
	}

	.marker:after {
		margin-right: 20px;
		margin-left: 20px;
	}

	.period img {
		right: 30px;
	}

	.screen-6 p {
		line-height: 30px;
	}

	.screen-6 h2 {
		margin-bottom: 6%;
	}
}

@media (max-width: 660px) {
	.header-text-wrap img {
		min-height: 300px;
	}

	.header-text h3 {
		font-size: 35px;
		line-height: 45px;
	}

	.screen-3 h2 {
		font-size: 35px;
		line-height: 40px;
	}

	.screen-3 h2 {
		margin: 6% 0 6% 0;
	}
}

@media (max-width: 600px) {
	h1 {
		font-size: 70px;
		margin-top: 150px;
	}

	header h2 {
		font-size: 35px;
		margin-bottom: 140px;
	}
}

@media (max-width: 588px) {
	.animal-img img {
		padding-right: 0;
	}
}

@media (max-width: 554px) {
	.header-text-wrap img {
		min-height: 400px;
	}

	.header-text {
		top: 5%;
	}

	.screen-6 p {
		line-height: 27px;
		font-size: 15px;
	}

	.screen-6 h2 {
		margin-bottom: 8%;
		font-size: 35px;
	}

	.screen-7 h2 {
		font-size: 35px;
	}

	.screen-7 p {
		font-size: 16px;
		line-height: 30px;
	}

	.contact-form input, .contact-form textarea {
		font-size: 18px;
	}

	.contact-form button {
		font-size: 21px;
	}

	.contact-info h4 {
		font-size: 21px;
	}

	.contact-info p, .contact-info span {
		font-size: 16px;
	}


}

@media (max-width: 465px) {
	h1 {
		font-size: 50px;
		line-height: 20px;
		font-weight: bold;
	}

	header h2 {
		font-size: 35px;
	}

	.screen-3 h2 {
		font-size: 30px;
		line-height: 35px;
	}

	.screen-3 h2 {
		margin: 6% 0 3% 0;
	}

	.gallery-preview button {
		font-size: 16px;
		line-height: 20px;
	}

	.screen-4 li {
		font-size: 20px;
	}

	.marker:before {
		margin-right: 8px;
		margin-left: 8px;
	}

	.marker:after {
		margin-right: 8px;
		margin-left: 8px;
	}

	.period img {
		right: 10px;
	}

	.pages {
		font-size: 20px;
	}

	.screen-6 p {
		line-height: 23px;
	}

	.screen-6 h2 {
		line-height: 35px;
	}

	.event-time {
		text-align: center;
	}

	.screen-5 h2 {
		line-height: 35px;
		font-size: 35px;
	}
}

@media (max-width: 390px) {
	h1 {
		margin-top: 110px;
	}

	header h2 {
		margin-bottom: 100px;
	}

	.header-text-wrap img {
		min-height: 400px;
	}

	.header-text h3 {
		font-size: 30px;
		line-height: 35px;
	}

	.header-text p {
		font-size: 16px;
		line-height: 25px;
	}

	.screen-3 h2 {
		font-size: 25px;
		line-height: 30px;
	}

	.screen-7 h2 {
		font-size: 30px;
		line-height: 30px;
	}

	.screen p {
		font-size: 15px;
		line-height: 25px;
	}
}

@media (max-width: 377px) {
	.event-description {
		font-size: 14px;
		line-height: 16px;
		padding: 18px 5px;
	}

	.event-description h4 {
		font-size: 16px;
	}

	.screen-4 li {
		display: block;
	}

	.period img {
		display: none;
	}

	.marker:before,
	.marker:after {
		display: none;
	}

	.screen-4 h2 {
		font-size: 30px;
	}

	.event-time h4 {
		font-size: 21px;
	}
}

@media (max-width: 350px) {
	h1 {
		font-size: 40px;
	}

	header h2 {
		font-size: 20px;
	}

	.animal-img img {
		left: 35%;
	}

	.screen-3 h2 {
		font-size: 20px;
		line-height: 20px;
	}

	.gallery-preview button {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 282px) {
	h1 {
		margin-top: 70px;
	}

	header h2 {
		margin-bottom: 60px;
	}

	.header-text {
		top: 0;
	}

	.header-text h3 {
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 15px;
	}

	.header-text p {
		font-size: 15px;
		line-height: 20px;
	}

}

@media (max-width: 280px) {
	h1 {
		font-size: 30px;
	}

	header h2 {
		font-size: 20px;
	}
}

@media (max-width: 243px) {
	nav li {
		display: block;
		border: none;
		border-top: 1px solid gray;
	}

	nav li:first-child {
		border-top: none;
	}

	nav a:hover {
		border-color: transparent;
		background-color: #dbdbdb;
	}
}